{% extends "message.html" %}

{% set pagination_source='orders_bp.orders' %}

{% set previous_link=url_for(
                        pagination_source,
                        page=pagination_data['previous'],
                        search_query=navigation_form.search_field.data if navigation_form.search_field.data else None,
                        sort_by=navigation_form.sort_by_field.data if navigation_form.sort_by_field.data else None,
                        status=navigation_form.status_field.data if navigation_form.status_field.data else None) %}

{% set next_link=url_for(
                        pagination_source,
                        page=pagination_data['next'],
                        search_query=navigation_form.search_field.data if navigation_form.search_field.data else None,
                        sort_by=navigation_form.sort_by_field.data if navigation_form.sort_by_field.data else None,
                        status=navigation_form.status_field.data if navigation_form.status_field.data else None) %}

{% set first_link=url_for(
                        pagination_source,
                        page=pagination_data['first'],
                        search_query=navigation_form.search_field.data if navigation_form.search_field.data else None,
                        sort_by=navigation_form.sort_by_field.data if navigation_form.sort_by_field.data else None,
                        status=navigation_form.status_field.data if navigation_form.status_field.data else None) %}

{% set current_link=url_for(
                        pagination_source,
                        page=pagination_data['current'],
                        search_query=navigation_form.search_field.data if navigation_form.search_field.data else None,
                        sort_by=navigation_form.sort_by_field.data if navigation_form.sort_by_field.data else None,
                        status=navigation_form.status_field.data if navigation_form.status_field.data else None) %}

{% set last_link=url_for(
                        pagination_source,
                        page=pagination_data['last'],
                        search_query=navigation_form.search_field.data if navigation_form.search_field.data else None,
                        sort_by=navigation_form.sort_by_field.data if navigation_form.sort_by_field.data else None,
                        status=navigation_form.status_field.data if navigation_form.status_field.data else None) %}

{% block panel %}
    {% if get_flashed_messages(with_categories=True) %}
        {% include 'notification.html' %}
    {% else %}
        <div class="level"></div>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <nav class="breadcrumb pl-3">
        <ul>
            <li class="is-active">
                <a>
                    <ion-icon name="bag-outline"></ion-icon>
                    <span class="pl-2">Замовлення</span>
                </a>
            </li>
            <li>
                <a href="">
                    <ion-icon name="list-outline"></ion-icon>
                    <span class="pl-2">Всі</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block message_header %}
    <ion-icon size="large" name="bag-outline"></ion-icon>
    <span class="pl-2">Перелік замовлень</span>
{% endblock %}

{% block message_body %}
    <form autocomplete="off" method="post">
        <div class="level">
            <div class="level-left">
                <div class="level-left">
                    <div class="control">
                        <label class="label">{{ navigation_form.search_field.label }}</label>
                        <div class="field has-addons">
                            <div class="control">
                                {{ navigation_form.search_field(class="input") }}
                            </div>
                            <div class="control">
                                {% if navigation_form.search_field.data %}
                                    <a href="{{ url_for('orders_bp.orders', sort_by=navigation_form.sort_by_field.data, status=navigation_form.status_field.data) }}"
                                       class="button">
                                        <ion-icon name="backspace-outline"></ion-icon>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="level-left">
                    <div class="control pl-2">
                        <label class="label">{{ navigation_form.status_field.label }}</label>
                        <div class="select">
                            {{ navigation_form.status_field }}
                        </div>
                    </div>
                </div>
                <div class="level-left">
                    <div class="control pl-2">
                        <label class="label">{{ navigation_form.sort_by_field.label }}</label>
                        <div class="select">
                            {{ navigation_form.sort_by_field }}
                        </div>
                    </div>
                </div>
                <div class="level-left">
                    <div class="control pl-2">
                        <label class="label">&nbsp;</label>
                        <button type="submit" class="button is-link">Застосувати</button>
                    </div>
                </div>

            </div>
            <div class="level-right">
                <div class="block has-text-right">
                    {% if stats.filter >= 0 and stats.filter != stats.total %}
                        <p class="heading has-text-weight-bold is-size-7">
                            За вашим запитом знайдено
                            <span class="tag is-primary is-medium is-rounded ">{{ stats.filter }}</span>
                            замовлень
                        </p>
                    {% else %}
                        <p class="heading has-text-weight-bold is-size-7">Всього замовлень: <span
                                class="tag is-info is-medium is-rounded ">{{ stats.total }}</span>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>


    <br/>

    <div class="table_div">
        {{ table|safe }}
    </div>

    <script>
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}



