{% extends 'modal.html' %}

{% if not return_link %}
    {% set return_link=url_for('staff_bp.staff') %}
{% endif %}

{% block message_header %}
    <div class="level-item">
        <p id="message_title">{{ message_title }}</p>
    </div>
    <div class="level-item is-hidden-mobile">
        <ion-icon size="large" name="add"></ion-icon>
    </div>
{% endblock %}

{% block form %}
    {% if get_flashed_messages(with_categories=True) %}
        {% include 'notification.html' %}
    {% endif %}

    <form action="" method="post" novalidate>
        {{ modal_form.hidden_tag() }}
        <div class="field">
            <div class="column">
                <div class="field">
                    <label class="label">{{ modal_form.name.label }}</label>
                    <p class="control">
                        {{ modal_form.name(class='input') }}
                    </p>
                </div>
            </div>
        </div>
        <br/>
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="control has-icon-right">
                    {{ modal_form.submit(class='button is-link is-outlined is-rounded is-fullwidth') }}
                </div>
            </div>
        </div>
    </form>
{% endblock %}
