<div class="box mt-5">
    <div class="level">
        <div class="level-left">
            <p class="title is-3 has-text-dark">
                {% if supportsEmoji %}👔{% endif %} Працівники
            </p>
        </div>
        <div class="level-right">
            <ion-icon size="large" name="happy-outline"></ion-icon>
        </div>
    </div>

    <hr/>

    <div class="content pl-6 pr-6">
        <blockquote>
            Працівники - це люди, які працюють в твоїй компанії та є виконавцями замовлень клієнтів.
        </blockquote>

        <p>Їх перелік відображатиметься на окремій сторінці разом зі статистикою виконаних працівником замовлень:</p>
        <ul>
            <li>за минулий місяць;</li>
            <li>за поточний місяць;</li>
            <li>за поточний рік.</li>
        </ul>

        <p>Також, за необхідності, там можна додати нового працівника.</p>

        <figure>
            <img src="/static/img/staff.png" width="1000" height="500" id="card_shadow">
            <figcaption>
                Сторінка працівників
            </figcaption>
        </figure>

        <h5>Давай додамо першого працівника твоєї компанії!</h5>

        <p>Для цього натисни кнопку <strong>"Додати працівника"</strong>, що знаходиться нижче (ти також матимеш змогу
            додати інших працівників пізніше).</p>

        <hr/>
        <div class="has-text-centered">
            <a class="button is-rounded is-link is-outlined"
               href="{{ url_for('staff_bp.new_staff', start=1) }}">
                <span>Додати працівника</span>
                <span class="icon"><ion-icon name="add"></ion-icon></span>
            </a>
        </div>
    </div>
</div>