<div class="box mt-5">
    <div class="level">
        <div class="level-left">
            <p class="title is-3 has-text-dark">
                {% if supportsEmoji %}🤝🏻{% endif %} Замовлення
            </p>
        </div>
        <div class="level-right">
            <ion-icon size="large" name="bag-outline"></ion-icon>
        </div>
    </div>

    <hr/>

    <div class="content pl-6 pr-6">
        <blockquote>
            Замовлення - це та проблема, з якою прийшов клієнт, і яка буде вирішена твоїми працівниками в майбутньому
            (або не буде вирішена, як вже пощастить 🤞🏻).
        </blockquote>

        <br/>

        <h5>Додавання замовлення</h5>
        <p>Щоб додати нове замовлення необхідно натиснути на кнопку <strong>"Нове замовлення"</strong> в правому
            верхньому куті
            та заповнити відповідні поля у формі.</p>

        <figure>
            <img src="/static/img/new_order.png" width="1000" height="500" id="card_shadow">
            <figcaption>
                Додавання замовлення
            </figcaption>
        </figure>

        <h5>Список всіх замовлень</h5>
        <p>Щоб переглянути список всіх замовлень натисни <strong>"Всі замовлення"</strong> в боковому меню праворуч. Там
            ти також можеш знайти швидкі посилання на різні категорії замовлень.</p>

        <p>Зокрема:</p>
        <ul>
            <li>замовлення зі статусом <strong>"Нове"</strong>;</li>
            <li>замовлення зі статусом <strong>"В процесі"</strong>;</li>
            <li>замовлення, які були додані за останні <strong>7</strong> днів;</li>
            <li>замовлення, які були додані за останні <strong>30</strong> днів.</li>
        </ul>

        <figure>
            <img src="/static/img/orders.png" width="1000" height="500" id="card_shadow">
            <figcaption>
                Всі замовлення
            </figcaption>
        </figure>

        <p>Також ти можеш здійснювати <strong>пошук, фільтрацію</strong> та <strong>сортування</strong> замовлень.</p>

        <h6>Пошук та фільтрація</h6>
        <dl>
            <dd>
                <p>Шукати замовлення можна за назвою, описом, ім'ям клієнта, серійним номером пристрою, працівником та
                    датою створення. Також можна комбінувати ці категорії в пошуковому запиті через
                    <strong>пробіл</strong>.</p>

                <p>Пошук за датою створення можливий у наступних форматах:</p>
                <ul>
                    <li>за числом: <strong>05</strong> або <strong>5</strong>;</li>
                    <li>за числом місяця: <strong>05.03</strong> або <strong>5.3</strong>;</li>
                    <li>за числом місяця року: <strong>05.03.2009</strong> або <strong>05.03.09</strong>;
                    </li>
                    <li>за період: <strong>24.01.00-05.03.09</strong>.</li>
                </ul>

                <p>Відфільтрувати замовлення також можна за їй статусом. Обери необхідний статус зі списку та натисни
                    кнопку <strong>"Застосувати"</strong>.</p>
            </dd>
        </dl>

        <h6>Cортування</h6>
        <dl>
            <dd>
                <p>Ти можеш відсортувати замовлення за наступними критеріями:</p>
                <ul>
                    <li>за датою (нові спочатку);</li>
                    <li>за датою (старі спочатку);</li>
                    <li>за назвою;</li>
                    <li>за клієнтом;</li>
                    <li>за статусом.</li>
                </ul>

                <p>Обери необхідний критерій зі списку та натисни кнопку <strong>"Застосувати"</strong>.</p>
            </dd>
        </dl>

        <p>Для перегляду детальної інформації про замовлення натисни на відповідний рядок у таблиці.</p>

        <br/>
        <h5>Деталі замовлення</h5>

        <p>На сторінці, що відкрилась, ти можеш:</p>
        <ul>
            <li>переглядати детальні відомості про замовлення;</li>
            <li>керувати перебігом виконання замовлення, змінюючи його статус.</li>
        </ul>

        <figure>
            <img src="/static/img/order.png" width="1000" height="500" id="card_shadow">
            <figcaption>
                Інформація про замовлення
            </figcaption>
        </figure>

        <p>Існують наступні статуси замовлення:</p>
        <ol>
            <li><strong>Нове</strong> - замовлення тільки додано;</li>
            <li><strong>В процесі</strong> - розпочалася робота над замовленням;</li>
            <li><strong>Виконано</strong> - замовлення виконано;</li>
            <li><strong>Скасовано</strong> - замовлення за будь-яких причин було скасовано.</li>
        </ol>

        <figure>
            <img src="/static/img/order_in_progress.png" width="1000" height="500" id="card_shadow">
            <figcaption>
                Замовлення в процесі
            </figcaption>
        </figure>

        <p>Слід зазначити, що <strong>скасувати</strong> замовлення можна лише на етапах <strong>"Нове"</strong> та
            <strong>"В процесі"</strong>.</p>

        <figure>
            <img src="/static/img/order_finished.png" width="1000" height="500" id="card_shadow">
            <figcaption>
                Замовлення виконано
            </figcaption>
        </figure>
    </div>
</div>