<div class="box mt-5">
    <div class="level">
        <div class="level-left">
            <span>
                <span class="subtitle is-3 has-text-dark">
                    {% if supportsEmoji %}✋🏻{% endif %} Вітаю тебе в&nbsp;
                </span>
                <span class="title is-3 has-text-dark">
                    <span class="title is-3 has-text-link">Трекері</span>_Замовлень!
                </span>
            </span>
        </div>
        <div class="level-right">
            <ion-icon size="large" name="paper-plane-outline"></ion-icon>
        </div>
    </div>

    <hr/>

    <div class="content has-text-centered">
        <p>Якщо ти бачиш цю сторінку, значить тобі вдалося успішно встановити <strong>Python3</strong> та пакет
            <strong>orders-tracker</strong>.</p>

        <p>Пропоную тобі у даному туторіалі оглянути основні сторінки, з якими ти будеш взяємодіяти під час
            використання програми.</p>

        <br/>

        <p>Тисни <strong>"Далі"</strong>, щоб продовжити.</p>
    </div>
</div>
