<div class="box mt-5">
    <div class="level">
        <div class="level-left">
            <p class="title is-3 has-text-dark">
                {% if supportsEmoji %}📌{% endif %} Ще дещо
            </p>
        </div>
        <div class="level-right">
            <ion-icon size="large" name="ellipsis-horizontal-outline"></ion-icon>
        </div>
    </div>

    <hr/>

    <div class="content pl-6 pr-6">
        <p>Для комфортної роботи рекомендую вимкнути функцію автозаповнення форм в браузері <strong>Google
            Chrome</strong>.</p>

        <p>Щоб зробити це:</p>
        <ol>
            <li>Відкрий налаштування браузера, скопіювавши адресу <code>chrome://settings/addresses</code> в пошук;</li>
            <li>Вимкни <strong>"Зберігати та заповнювати адреси"</strong>.</li>
        </ol>
    </div>
</div>