<div class="box mt-5">
    <div class="level">
        <div class="level-left">
            <p class="title is-3 has-text-dark">🥰 Клієнти</p>
        </div>
        <div class="level-right">
            <ion-icon size="large" name="people-outline"></ion-icon>
        </div>
    </div>

    <hr/>

    <div class="content pl-6 pr-6">
        <blockquote>
            Клієнти - це теж люди 🙃, що приходять до тебе зі своїми проблемами. І вже зовсім скоро
            ці проблеми змінюють власника - вони стають ТВОЇМИ проблемами.
        </blockquote>

        <br/>

        <h5>Додавання клієнта</h5>
        <p>Для створення клієнта необхідно натиснути на кнопку <strong>"Новий клієнт"</strong> в правому верхньому куті
            та заповнити відповідні поля у формі.</p>

        <figure>
            <img src="/static/img/new_client.png" width="1000" height="500" id="card_shadow">
            <figcaption>
                Додавання клієнта
            </figcaption>
        </figure>

        <h5>Перелік всіх клієнтів</h5>
        <p>Щоб переглянути список всіх клієнтів натисни <strong>"Всі клієнти"</strong> в боковому меню праворуч. Для
            перегляду детальної інформації про клієнта натисни на відповідний рядок у таблиці.</p>

        <figure>
            <img src="/static/img/clients.png" width="1000" height="500" id="card_shadow">
            <figcaption>
                Всі клієнти
            </figcaption>
        </figure>

        <h5>Інформація про клієнта</h5>
        <p>На сторінці, що відкрилась, ти можеш:</p>
        <ul>
            <li>зареєструвати пристрій клієнта, який обслуговується у вас;</li>
            <li>відредагувати інформацію про клієнта;</li>
            <li>відредагувати інформацію про пристрій;</li>
            <li>видалити клієнта (якщо він не зробив <strong>жодного замовлення</strong>).</li>
        </ul>


        <figure>
            <img src="/static/img/client.png" width="1000" height="500" id="card_shadow">
            <figcaption>
                Інформація про клієнта
            </figcaption>
        </figure>

    </div>
</div>