<div class="box mt-5">
    <div class="level">
        <div class="level-left">
            <p class="title is-3 has-text-dark">🏁 Готово</p>
        </div>
        <div class="level-right">
            <ion-icon size="large" name="checkmark-circle-outline"></ion-icon>
        </div>
    </div>

    <hr/>

    <div class="content pl-6 pr-6 has-text-centered">
        <p class="subtitle is-3 has-text-dark">Вперед, до роботи!</p>
        <br/>
        <div class="has-text-centered">
            <a class="button is-rounded is-link is-outlined"
               href="{{ url_for('orders_bp.orders') }}">
                <span>Розпочати</span>
                <span class="icon"><ion-icon name="arrow-forward-circle-outline"></ion-icon></span>
            </a>
        </div>
    </div>
</div>